<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Medical_Associate.Properties.Settings.medicalAssociatesConnectionString" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=\\192.168.0.1\my files\medicalAssociates.mdf&quot;Integrated Security=True&quot; providerName=&quot;System.Data.SqlClient" />
    <add name="medicalAssociatesEntities" connectionString="metadata=res://*/MedicalAssociatesModel.csdl|res://*/MedicalAssociatesModel.ssdl|res://*/MedicalAssociatesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;Initial Catalog=medicalAssociates;MultipleActiveResultSets=True;App=EntityFramework&quot;&quot; providerName=&quot;System.Data.EntityClient" />
    <add name="medicalAssociatesTraigeEntities" connectionString="metadata=res://*/Traige.csdl|res://*/Traige.ssdl|res://*/Traige.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;Initial Catalog=medicalAssociates;MultipleActiveResultSets=True;App=EntityFramework&quot;&quot; providerName=&quot;System.Data.EntityClient" />
    <add name="medicalAssociatesDBEntities" connectionString="metadata=res://*/medicalAssociteDBModel.csdl|res://*/medicalAssociteDBModel.ssdl|res://*/medicalAssociteDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;Initial Catalog=medicalAssociates;MultipleActiveResultSets=True;App=EntityFramework&quot;&quot; providerName=&quot;System.Data.EntityClient" />
    <add name="DBAssociatesEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;Initial Catalog=medicalAssociates;MultipleActiveResultSets=True;App=EntityFramework&quot;&quot; providerName=&quot;System.Data.EntityClient" />
    <add name="DBAssociatesEntitiesN" connectionString="metadata=res://*/DBModelAssociates.csdl|res://*/DBModelAssociates.ssdl|res://*/DBModelAssociates.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;Initial Catalog=medicalAssociates;MultipleActiveResultSets=True;App=EntityFramework&quot;&quot; providerName=&quot;System.Data.EntityClient" />
	  <add name="medicalAssociatesEntitiesBeta" connectionString="metadata=res://*/MedicalAssociatesModelBeta.csdl|res://*/MedicalAssociatesModelBeta.ssdl|res://*/MedicalAssociatesModelBeta.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=DESKTOP-KBI6HGU;Database=medicalAssociate;User Id=associate;Password=xxx;&quot;" providerName="System.Data.EntityClient" />
	  <!--add name="medicalAssociatesEntitiesBeta" connectionString="metadata=res://*/MedicalAssociatesModelBeta.csdl|res://*/MedicalAssociatesModelBeta.ssdl|res://*/MedicalAssociatesModelBeta.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\medicalAssociates.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
	  <!--Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\Nexsys\Documents\project\Medical Associate\medicalAssociates.mdf";Integrated Security=True-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters> 
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
<!-- Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="D:\my files\medicalAssociates.mdf";Integrated Security=True;Connect Timeout=30 192.168.0.101-->
<!--Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\Nexsys\Documents\my files\project\Medical Associate\medicalAssociates.mdf";Integrated Security=True


  <connectionStrings>
    <add name="Medical_Associate.Properties.Settings.medicalAssociatesConnectionString" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=medicalAssociates;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="medicalAssociatesEntities" connectionString="metadata=res://*/MedicalAssociatesModel.csdl|res://*/MedicalAssociatesModel.ssdl|res://*/MedicalAssociatesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;initial catalog=medicalAssociates;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="medicalAssociatesTraigeEntities" connectionString="metadata=res://*/Traige.csdl|res://*/Traige.ssdl|res://*/Traige.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;initial catalog=medicalAssociates;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="medicalAssociatesDBEntities" connectionString="metadata=res://*/medicalAssociteDBModel.csdl|res://*/medicalAssociteDBModel.ssdl|res://*/medicalAssociteDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;initial catalog=medicalAssociates;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBAssociatesEntities" connectionString="metadata=res://*/DBModel.csdl|res://*/DBModel.ssdl|res://*/DBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;initial catalog=medicalAssociates;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBAssociatesEntitiesN" connectionString="metadata=res://*/DBModelAssociates.csdl|res://*/DBModelAssociates.ssdl|res://*/DBModelAssociates.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;initial catalog=medicalAssociates;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  metadata=res://*/delete.csdl|res://*/delete.ssdl|res://*/delete.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\MSSQLLocalDB;attachdbfilename="D:\my files\medicalAssociates.mdf";integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'

-->